
h1{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3{
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15% 7%;
}
body{
  font-family: "Montserrat";
  position: relative;
}
p{
  color: grey;
}
/*<!----------------------ID Select ---------------->*/

#title{
  background-color: #F65A83;
  color: #fff;
}

#features{
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 10% 0;
}

/*-----------------------------------------class-------------------------*/
/* Navbar css */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding: 0 15px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Button css */

.Download-button{
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #F65A83;
}

/*
Testimonials */

#testimonials{
  text-align: center;
  background-color:  #F65A83;
  color: #fff;
}

.carousel-item{
    padding: 7% 15% ;
}

.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* press */
#press{
  background-color:  #F65A83;
  text-align: center;
  padding-bottom: 4rem;
}

.press-img{
  width: 15%;
  padding: 20px 20px 50px;
}

/* pricing */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}

/*footer*/
#cta{
  padding: 50px;
  background-color:  #F65A83;
  text-align: center;
}
.footer-txt{
  font-size: 5rem;
  padding: 50px auto 25px;
  color: #fff;
}

#footer{
  padding: 7% 15%;
  text-align: center;
}
.contact-icons{
  margin: 20px 10px;
}
